@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.nav {
  background: linear-gradient(to bottom, rgba(64, 189, 238, 0.834), rgba(210, 234, 238, 0.153));
  width:100%;
  padding: 0.5rem 1rem;
  height:3rem;
  font-weight: 800;
  color:white
}
.loginBox{
  height: 60vh;
  width:100%;
  display:flex;
  justify-content: center;
  margin-top: 100px;

}
.inputField{
  width:100%;
  margin: 1rem 0rem;
}
.inputForm{
  padding:5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  height:100%
}
